$violet : rgb(102,49,225);
.DevelopmentServices{
    background-color: $violet;
    .MainHeading{
        padding: 3% 1% 0% 1%;
        h1{
            font-family: 'Montserrat';
            color: yellow;
            font-size: 3.5rem;
            font-weight: 800;
        }
    }
    .SubHeading{
        padding: 1% 1% 4% 1%;
        h6{
            color: white;
            font-family: 'Open Sans';
            font-size: 1.2rem;

        }

    }
    .CardsContainer{
        padding: 1% 10%;
        // gap: 50px;
        // text-align: center;
        .cards{
            background-color: rgb(255, 255, 255);
            padding: 50px 30px 50px 30px;
            position: relative;
            border-radius: 5%;
            .web{
                position: absolute;
                top: -60px;
            }
            .row{
                .CardHeading{
                    padding: 60px 20px 0px 20px;
                    h6{
                        font-family: 'Raleway', sans-serif;
                        color: $violet;
                        font-size: 1.2rem;
                        font-weight: 700;
                        line-height: 1.6;
                    }
                }
                .CardDesc{
                    p{
                        font-size: 1.1rem;
                        font-family: 'Open Sans';
                        line-height: 1.6;
                        color: #4f436d !important;
                    }
                }
            }
            .MoreButton{
                border: none;
                padding: 7px 20px;
                font-size: 1rem;
                background-color: gold;
                color: $violet;
                font-weight: 600;
                text-transform: uppercase;
                font-family: 'PT Sans';
            }

        }
    }
}