.Footer{
    background-color: rgb(54, 54, 54);
    height: 200px;
    // padding-top: 100px;
    // padding-bottom: 100px;
    color: white;
    display: flex;
    align-items: center;
    // text-align: center;
    justify-content: center;
}