$violet : rgb(102,49,225);

.Footer{
    background-color: gold;

    .FirstCol{
        h1{
            font-family: 'Montserrat';
            font-size: 2rem;
            font-weight: 700;
            color: $violet;
        }
        .SubHeading{
            font-family: 'PT Sans';
            font-size: 1rem;
            font-weight: 600;
            font-style: italic;
        }
        .Desc{
            font-family: 'Roboto';
            font-size: 1.1rem;
        }
        .logos{
            .fa-brands{
                font-size: 1.5rem;
                padding-left: 20px;
                color: $violet;
            }
        }
    }
    .SecondCol{
        h3{
            font-family: 'Montserrat';
            font-size: 1.2rem;
            color: $violet;
            font-weight: bolder;
        }
        p{
            font-size: 1rem;
        }

        ul {
            list-style: none;
            li{
                font-family: 'PT Sans';
                font-size: 0.9rem;
            }
            li:before {
                content: '✓';
                // padding-left: 5px;
              }
          }
    }
    .LastCol{
        h1{
            font-family: 'Montserrat';
            font-size: 2rem;
            font-weight: 700;
            color: $violet;
        }
    }
}